<!DOCTYPE html>
<html>

<head>
    <title>Lodex</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= theme.current.href %>/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= theme.current.href %>/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= theme.current.href %>/favicon-16x16.png" />
    <link rel="manifest" href="<%= theme.current.href %>/site.webmanifest" />
    <link rel="mask-icon" href="<%= theme.current.href %>/safari-pinned-tab.svg" color="#ffc40d" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffc40d" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <% if (custom.font) { %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=<%= custom.font.family %>:700" />
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,500" />
    <link rel="stylesheet" href="<%= theme.current.href %>/css/styles.css" />
    <link rel="stylesheet" href="<%= lodex.base.href %>/css/LeafletMap.css"/>
    <link rel="stylesheet" href="<%= lodex.base.href %>/css/ReactToastify.css"/>
    <style>
    /* import palette */
        <%=theme.cssVariable %>
    /* import config theme color */
        <% if (custom.font) {%>
        :root {
        --font-title: <%= custom.font.title %>;
        --fontSize-title: <%= custom.font.titleSize %>;
        --font-titleHeader: <%= custom.font.titleHeader %>;
        --fontSize-titleHeader: <%= custom.font.titleHeaderSize %>;
        --font-titleGraph: <%= custom.font.titleGraph %>;
        --fontSize-titleGraph: <%= custom.font.titleGraphSize %>;
        }
        <% } %>
    /* import config theme color */
        <% if (custom.color) {%>
        :root {
        --bgBody: <%= custom.color.bgBody %>;
        --bgContrast: <%= custom.color.bgContrast %>;
        --bgHeader: <%= custom.color.bgHeader %>;
        --titleHeader: <%= custom.color.titleHeader %>;
        --bgContent: <%= custom.color.bgContent %>;
        --bgFacet: <%= custom.color.bgFacet %>;
        --titles: <%= custom.color.titles %>;
        --titleGraph: <%= custom.color.titleGraph %>;
        --linkText: <%= custom.color.linkText %>;
        --linkTextHover: <%= custom.color.linkTextHover %>;
        --icon: <%= custom.color.icon %>;
        --iconHover: <%= custom.color.iconHover %>;
        --button: <%= custom.color.button %>;
        --buttonHover: <%= custom.color.buttonHover %>;
        --textContrast: <%= custom.color.textContrast %>;
        }
        <% } %>
    </style>
</head>

<body>
    <% if (custom.siteTitle || custom.logo.url) { %>
    <header>
        <div id="banner" class="container">
        <% if (custom.logo.url) { %>
            <div id="logos">
                <a class="logo" href="<%= custom.logo.url %>" target="_blank">
                    <img src="<%= custom.logo.file %>" alt="<%= custom.logo.alt %>" width="<%= custom.logo.size %>" />
                </a>
            </div>
        <% } %>
            <div>
            <% if (custom.siteTitle) { %>
			    <h1><%= custom.siteTitle %></h1>
            <% } %>
            <% if (custom.summary) { %>
			    <p><%= custom.summary %></p>
            <% } %>
            </div>
        </div>
    </header>
    <% } %>
    <div id="root"></div>
    <footer>
        <p><a href="https://www.inist.fr"><img src="<%= theme.current.href %>/img/Opere_par_Inist long.png" width="120px" alt="opéré par CNRS Inist"></a></p>
    </footer>
    <% if (isDev) { %>
        <script type="module">
            import RefreshRuntime from 'http://localhost:8080/@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="http://localhost:8080/@vite/client"></script>
    <% } %>
    <script>
        window.__PRELOADED_STATE__ = <%- lodex.preload %>;
        window.__TENANT__ = '<%= lodex.tenant %>';
        window.ISTEX_API_URL = '<%= lodex.istexApi %>';
    </script>
    <script type="module" src="<%= lodex.base.href %>/public/index.js"></script>
    <% if (custom.matomoID && custom.matomoHost) { %>
        <!-- Piwik -->
        <script>
            var _paq = _paq || [];
            _paq.push([
                function () {
                    var self = this;
                    function getOriginalVisitorCookieTimeout() {
                        var now = new Date(),
                            nowTs = Math.round(now.getTime() / 1000),
                            visitorInfo = self.getVisitorInfo();
                        var createTs = parseInt(visitorInfo[2]);
                        var cookieTimeout = 33696000;
                        var originalTimeout = createTs + cookieTimeout - nowTs;
                        return originalTimeout;
                    }
                    this.setVisitorCookieTimeout(getOriginalVisitorCookieTimeout());
                }
            ]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);
            (function () {
                var u = "<%= custom.matomoHost %>";
                _paq.push(["setTrackerUrl", u + "piwik.php"]);
                _paq.push(["setSiteId", "<%= custom.matomoID %>"]);
                var d = document,
                    g = d.createElement("script"),
                    s = d.getElementsByTagName("script")[0];
                g.type = "text/javascript";
                g.async = true;
                g.defer = true;
                g.src = u + "piwik.js";
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <!-- End Piwik Code -->
    <% } %>
</body>

</html>
