<!DOCTYPE html>
<html>

<head>
    <title>LODEX - Istex</title>
    <meta charset="utf-8"/>
    <meta name="keywords" content="istex, semantic web, linked data"/>
    <meta name="description" content="Site on semantic web approch to ISTEX data"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= theme.current.href %>/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= theme.current.href %>/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= theme.current.href %>/favicon-16x16.png"/>
    <link rel="alternate" type="application/atom+xml" href="/api/export/atom"/>
    <link rel="manifest" href="<%= theme.current.href %>/manifest.json"/>
    <link rel="mask-icon" href="<%= theme.current.href %>/safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="stylesheet" href="<%= theme.current.href %>/css/style.css"/>
    <link rel="stylesheet" href="<%= theme.current.href %>/css/istex.css"/>
    <% if (custom.sousTheme == 'corpus') { %>
    <link rel="stylesheet" href="<%= theme.current.href %>/css/corpus.css" />
    <% } %>
    <% if (custom.sousTheme == 'termino') { %>
    <link rel="stylesheet" href="<%= theme.current.href %>/css/termino.css" />
    <% } %>
    <style><%= theme.cssVariable %>
        <% if (custom.BanniereSimple) {%>        
    /* import config theme banniere simple*/
            :root {
                --banniereSimpleUrl: url('../ICONO/<%= custom.BanniereSimple %>-banniere-1920x460.jpg');
            }
            <% } %>
        <% if (custom.BanniereDouble) {%>
    /* import config theme banniere double*/
            :root {
                --banniereDoubleUrl: url('../ICONO/<%= custom.BanniereDouble %>-rectangle-1920x1080.jpg');
            }
            <% } %>
    </style>
</head>

<body>
    <nav id="navigation-main" class="menuIstex navigation-main" role="navigation" aria-label="Menu Istex">
        <ul class="menu container menu-haut flexrow">
            <li
                class="accesIstex nav-main-item  menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2651">
                <a href="https://www.istex.fr" target="blank" title="accès Istex (lien externe)">
                    <img src="<%= theme.current.href %>/img/header/leftarrow.png" alt=""> Accès
                    Istex.fr
                </a>
            </li>
            <% 
            const validLinksArray = Object.keys(custom.headerMenu).slice(0, 5).filter(key => (custom.headerMenu[key].url && custom.headerMenu[key].name));

            if (validLinksArray.length > 0) {
                validLinksArray.forEach((key, index) => { %>
                    <li class="nav-main-item  menu-item menu-item-type-custom menu-item-object-custom menu-item-265<%= index + 1 %>">
                        <a class="nav-main-link" href="<%= custom.headerMenu[key].url %>" target="_blank"
                        title="<%= custom.headerMenu[key].name %> (lien externe)"><%= custom.headerMenu[key].name %></a>
                    </li>
                <% });
            } else { %>
            <li
                class="nav-main-item  menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2651">
                <a class="nav-main-link" href="https://services.istex.fr/" target="_blank" title="TDM Web Services (lien externe)">TDM Web Services</a>
            </li>
            <li class="nav-main-item  menu-item menu-item-type-custom menu-item-object-custom menu-item-2652">
                <a class="nav-main-link" href="https://www.loterre.fr/" target="_blank"
                                                                        title="Loterre (lien externe)">Loterre</a>
            </li>
            <li class="nav-main-item  menu-item menu-item-type-custom menu-item-object-custom menu-item-2653">
                <a class="nav-main-link" href="https://scientific-corpus.data.istex.fr/" target="_blank"
                                                                                         title="Corpus spécialisés (lien externe)">Corpus scientifiques</a>
            </li>
            <li class="nav-main-item  menu-item menu-item-type-custom menu-item-object-custom menu-item-2654">
                <a class="nav-main-link" href="https://www.istex.fr/category/actualites/" target="_blank"
                                                                                          title="Actualités Istex (lien externe)">Actualités Istex</a>
            </li>
            <% } %>
        </ul>
    </nav>
    <header>
        <div class="banner">
            <div class="container">
                <a href="<%= custom.host %>">
                    <img src="<%= theme.current.href %>/img/header/istex.svg" alt="Istex">
                    <h1 class="siteTitle">
                        <%= custom.title %>
                    </h1>
                    <div class="subTitle">
                        <%= custom.summary %>
                    </div>
                </a>
            </div>
        </div>
    </header>
    <div id="root"></div>
    <footer class="site-footer">
        <nav>
            <ul class="footer3 flexrow container">
                <li><a href="https://www.cnrs.fr/"><img src="https://www.istex.fr/wp-content/themes/istex/img/cnrs.svg"
                                                        alt="cnrs"></a></li>
                <li><a href="https://www.abes.fr/"><img src="https://www.istex.fr/wp-content/themes/istex/img/abes.png"
                                                        alt="abes : agence bibliographique de l'enseignement supérieur"></a>
                </li>
                <li><a href="https://www.couperin.org/"><img
                       src="https://www.istex.fr/wp-content/themes/istex/img/couperin.svg" width="150px" alt="couperin.org"></a>
                </li>
                <li><a href="https://franceuniversites.fr/"><img class="fu"
                                                                 src="https://www.istex.fr/wp-content/themes/istex/img/france_universites_logo.svg"
                                                                 alt="France universités"></a></li>
                <li><a href="https://www.univ-lorraine.fr/"><img
                       src="https://www.istex.fr/wp-content/themes/istex/img/ul.svg"
                       alt="université de lorraine"></a>
                </li>
                <li><a href="https://www.inria.fr/fr"><img
                       src="https://www.istex.fr/wp-content/themes/istex/img/inria.png"
                       alt="institut national de recherche en sciences et technologies du numérique"></a></li>
            </ul>
        </nav>
        <div class="footer4 container"><a href:"https://www.inist.fr"><img src="https://www.istex.fr/wp-content/themes/istex/img/Opere_par_Inist_120.png" alt="opéré par CNRS Inist"></a>
        </div>
    </footer>
    <!-- Footer - bloc-8 END -->
    <script src="<%= theme.current.href %>/js/jquery-3.6.0.min.js"></script>
    <script src="<%= theme.current.href %>/js/responsiveMenu.js"></script>
    <script src="<%= theme.current.href %>/js/tooltip.js"></script>
    <script>
        window.__PRELOADED_STATE__ = <%- lodex.preload %>;
        window.__TENANT__ = '<%= lodex.tenant %>';
        window.ISTEX_API_URL = '<%= lodex.istexApi %>';
    </script>
    <script src="<%= lodex.base.href %>/index.js"></script>
        <% if (custom.matomoID && custom.matomoHost) { %>
        <!-- Piwik -->
        <script>
            var _paq = _paq || [];
            _paq.push([
                function () {
                    var self = this;
                    function getOriginalVisitorCookieTimeout() {
                        var now = new Date(),
                            nowTs = Math.round(now.getTime() / 1000),
                            visitorInfo = self.getVisitorInfo();
                        var createTs = parseInt(visitorInfo[2]);
                        var cookieTimeout = 33696000;
                        var originalTimeout = createTs + cookieTimeout - nowTs;
                        return originalTimeout;
                    }
                    this.setVisitorCookieTimeout(getOriginalVisitorCookieTimeout());
                }
            ]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);
            (function () {
                var u = "<%= custom.matomoHost %>";
                _paq.push(["setTrackerUrl", u + "piwik.php"]);
                _paq.push(["setSiteId", "<%= custom.matomoID %>"]);
                var d = document,
                    g = d.createElement("script"),
                    s = d.getElementsByTagName("script")[0];
                g.type = "text/javascript";
                g.async = true;
                g.defer = true;
                g.src = u + "piwik.js";
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <!-- End Piwik Code -->
    <% } %>
</body>
</html>
